.ruby-version
.byebug_history
.bundle/
.DS_Store
log/*.log
pkg/
vendor/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/db/*.sqlite3-*
test/dummy/log/*.log
test/dummy/storage/
test/dummy/tmp/
